/* [Master Stylesheet v1.0] */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,500,600,700");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/owl.carousel.min.css);
@import url(css/animate.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/classy-nav.min.css);

/* :: 3.0 Base CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
    font-weight: 700;
}

p {
    font-family: "Raleway", sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 14px;
}

ul,
ol {
    margin: 0;
}

ul li,
ol li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

/* Spacing */
.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* Height */
.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* Section Padding */
.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* Preloader */
#preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#preloader .spinner {
    width: 40px;
    height: 40px;
    background-color: #3762f0;
    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
        transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
        transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
        transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
        transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

/* Section Heading */
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
    text-align: center;
}

.section-heading h3 {
    font-size: 30px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .section-heading h3 {
        font-size: 24px;
    }
}

.section-heading.text-left {
    text-align: left !important;
}

.section-heading.white h3 {
    color: #ffffff;
}

/* Miscellaneous */
.bg-animated {
    width: 100%;
    -webkit-animation: bgAnimated 24s linear infinite;
    animation: bgAnimated 24s linear infinite;
    background-attachment: fixed;
}

@-webkit-keyframes bgAnimated {
    0% {
        background-position: center center;
    }

    50% {
        background-position: left left;
    }

    100% {
        background-position: center center;
    }
}

@keyframes bgAnimated {
    0% {
        background-position: center center;
    }

    50% {
        background-position: left left;
    }

    100% {
        background-position: center center;
    }
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay,
.foo-bg-overlay,
.bg-overlay-2by5 {
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
}

.bg-overlay::after,
.foo-bg-overlay::after,
.bg-overlay-2by5::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.foo-bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.91);
}

.bg-overlay-2by5::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #ffffff;
    right: 0;
    padding-right: 0;
    width: 30px;
    height: 30px;
    background-color: #3762f0;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: -30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .mfp-image-holder .mfp-close,
    .mfp-iframe-holder .mfp-close {
        right: 0;
    }
}

@media only screen and (max-width: 767px) {

    .mfp-image-holder .mfp-close,
    .mfp-iframe-holder .mfp-close {
        right: 0;
    }
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

/* ScrollUp */
#scrollUp {
    background-color: #3762f0;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    right: 60px;
    text-align: center;
    width: 40px;
    border-radius: 6px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

#scrollUp:hover {
    background-color: #2c56df;
}

@media only screen and (max-width: 767px) {
    #scrollUp {
        bottom: 30px;
        right: 30px;
    }
}

/* Button */
.clever-btn {
    display: inline-block;
    min-width: 160px;
    height: 40px;
    background-color: #3762f0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0 30px;
    line-height: 40px;
    text-align: center;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.clever-btn.active,
.clever-btn:hover,
.clever-btn:focus {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2c56df;
}

.clever-btn.btn-2 {
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: rgba(0, 0, 0, 0.25);
}

.clever-btn.btn-2:hover,
.clever-btn.btn-2:focus {
    color: #ffffff;
    background-color: #2c56df;
    border: 1px solid #2c56df;
}

/* :: 4.0 Header Area */
.header-area {
    position: relative;
    z-index: 200;
}

.top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}

.top-header-area .contact-info {
    position: relative;
    z-index: 1;
}

.top-header-area .contact-info a {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    border-right: 1px solid #ebebeb;
}

.top-header-area .contact-info a span {
    text-transform: uppercase;
}

.top-header-area .contact-info a:hover,
.top-header-area .contact-info a:focus {
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .top-header-area .contact-info a {
        padding: 0 10px;
        font-size: 11px;
    }

    .top-header-area .contact-info a:last-child {
        border-right: none;
    }
}

@media only screen and (max-width: 767px) {
    .top-header-area .contact-info {
        border-bottom: 1px solid #ebebeb;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
    }
}

.top-header-area .follow-us {
    position: relative;
    z-index: 1;
}

.top-header-area .follow-us span {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-transform: uppercase;
}

.top-header-area .follow-us a {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    border-left: 1px solid #ebebeb;
}

.top-header-area .follow-us a span {
    text-transform: uppercase;
}

.top-header-area .follow-us a:hover,
.top-header-area .follow-us a:focus {
    color: #1b1b1b;
}

@media only screen and (max-width: 767px) {
    .top-header-area .follow-us {
        margin-left: auto;
    }
}

@media only screen and (max-width: 767px) {
    .top-header-area {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
    }
}

.clever-main-menu {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
}

.clever-main-menu .classy-navbar {
    height: 80px;
}

.clever-main-menu .classynav ul li a {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-main-menu .classynav ul li a {
        padding: 0 8px;
    }
}

.clever-main-menu .classynav ul li a:hover,
.clever-main-menu .classynav ul li a:focus {
    color: rgba(0, 0, 0, 0.8);
}

.clever-main-menu .search-area {
    position: relative;
    z-index: 1;
}

.clever-main-menu .search-area form {
    position: relative;
    z-index: 10;
    width: 230px;
    height: 40px;
    margin: 0 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-main-menu .search-area form {
        width: 170px;
        margin: 0 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .clever-main-menu .search-area form {
        margin: 15px auto;
    }
}

@media only screen and (max-width: 767px) {
    .clever-main-menu .search-area form {
        margin: 15px auto;
    }
}

.clever-main-menu .search-area form input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 0 15px 0 50px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.35);
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.clever-main-menu .search-area form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.clever-main-menu .search-area form button {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 10;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.is-sticky .clever-main-menu {
    z-index: 1500 !important;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.register-login-area {
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .register-login-area {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .register-login-area {
        text-align: center;
    }
}

.register-login-area a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #3762f0;
    line-height: 40px;
}

.register-login-area a.active,
.register-login-area a:hover,
.register-login-area a:focus {
    background-color: #d7e0fc;
    font-weight: 600;
    color: #3762f0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .register-login-area a {
        padding: 0 15px;
    }
}

.login-state {
    position: relative;
    z-index: 1;
}

.login-state .user-name .dropdown .dropdown-toggle {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.login-state .user-name .dropdown-menu {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 15px 0;
}

.login-state .user-name .dropdown-menu .dropdown-item {
    padding: 5px 30px;
    font-size: 13px;
    font-weight: 600;
}

.login-state .user-name .dropdown-menu .dropdown-item:hover,
.login-state .user-name .dropdown-menu .dropdown-item:focus {
    color: #3762f0;
}

.login-state .userthumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
    border-radius: 6px;
}

.login-state .userthumb img {
    border-radius: 6px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-state {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .login-state {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* :: 5.0 Hero Area */
.hero-area {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}

.hero-area .hero-content h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #ffffff;
}

/* :: 6.0 Cool Facts Area */
.single-cool-facts-area {
    position: relative;
    z-index: 1;
    padding: 30px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
}

.single-cool-facts-area img {
    display: block;
    margin: 0 auto 15px;
}

.single-cool-facts-area h2 {
    font-size: 36px;
    margin-bottom: 5px;
    color: #3762f0;
}

.single-cool-facts-area h5 {
    margin-bottom: 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

/* :: 7.0 Courses Area */
.popular-courses-area {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
}

.single-popular-course {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #ffffff;
}

.single-popular-course img {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.single-popular-course .course-content {
    padding: 25px;
}

.single-popular-course .course-content h4 {
    margin-bottom: 5px;
}

.single-popular-course .course-content .meta {
    margin-bottom: 15px;
}

.single-popular-course .course-content .meta span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 5px;
    margin-right: 10px;
}

.single-popular-course .course-content .meta a {
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.single-popular-course .course-content .meta a:hover {
    color: #000;
}

.single-popular-course .course-content p {
    margin-bottom: 0;
}

.single-popular-course .seat-rating-fee {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.single-popular-course .seat-rating-fee .seat-rating {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    height: 100%;
}

.single-popular-course .seat-rating-fee .seat-rating div {
    padding: 0 20px;
    border-right: 1px solid #ebebeb;
    height: 100%;
    line-height: 40px;
}

.single-popular-course .seat-rating-fee .seat-rating i {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
}

.single-popular-course .seat-rating-fee .course-fee a {
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 0 0 6px 0;
    background-color: #e3d21b;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.75px;
}

.single-popular-course .seat-rating-fee .course-fee a.free {
    background-color: #3762f0;
}

.single-course-intro {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
}

.single-course-intro .single-course-intro-content {
    width: 425px;
    height: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .single-course-intro .single-course-intro-content {
        width: 280px;
    }
}

.single-course-intro .single-course-intro-content .ratings {
    margin-bottom: 20px;
}

.single-course-intro .single-course-intro-content .ratings i {
    color: #e3d21b;
    font-size: 13px;
    padding: 0 3px;
    display: inline-block;
}

.single-course-intro .single-course-intro-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .single-course-intro .single-course-intro-content h3 {
        font-size: 24px;
    }
}

.single-course-intro .single-course-intro-content .meta {
    margin-bottom: 30px;
}

.single-course-intro .single-course-intro-content .meta span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 5px;
    margin-right: 10px;
}

.single-course-intro .single-course-intro-content .meta a {
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

.single-course-intro .single-course-intro-content .meta a:hover {
    color: #000;
}

.single-course-intro .single-course-intro-content .price {
    font-size: 12px;
    text-transform: uppercase;
    color: #3762f0;
    letter-spacing: 0.75px;
    font-weight: 700;
}

.course--content {
    position: relative;
    z-index: 1;
}

.clever-tabs-content {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.clever-tabs-content .nav-tabs {
    margin-bottom: 20px;
    border-bottom: none;
}

.clever-tabs-content .nav-tabs .nav-item .nav-link {
    display: inline-block;
    height: 40px;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
    border: 1px solid #ebebeb;
    border-radius: 6px;
    padding: 0 25px;
    line-height: 40px;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.clever-tabs-content .nav-tabs .nav-item .nav-link.active,
.clever-tabs-content .nav-tabs .nav-item .nav-link:hover,
.clever-tabs-content .nav-tabs .nav-item .nav-link:focus {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    background-color: #ebebeb;
}

.clever-tabs-content .nav-tabs .nav-item:last-child .nav-link {
    margin-right: 0;
}

.clever-tabs-content .tab-content {
    position: relative;
    z-index: 1;
}

.clever-description {
    position: relative;
    z-index: 1;
}

.clever-description .about-course {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.clever-description .about-course h4 {
    margin-bottom: 20px;
    display: block;
}

.clever-description .about-course p {
    font-size: 16px;
    line-height: 1.9;
}

.clever-description .about-course p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .clever-description .about-course {
        padding: 30px;
    }
}

.clever-description .all-instructors {
    padding: 40px 40px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .clever-description .all-instructors {
        padding: 30px 30px 0;
    }
}

.clever-description .all-instructors h4 {
    margin-bottom: 25px;
    display: block;
}

.clever-description .all-instructors .single-instructor {
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
    border-radius: 6px;
}

.clever-description .all-instructors .single-instructor .instructor-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    max-width: 80px;
    height: 80px;
}

.clever-description .all-instructors .single-instructor .instructor-info {
    padding-left: 25px;
}

.clever-description .all-instructors .single-instructor .instructor-info h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .clever-description .all-instructors .single-instructor .instructor-info h5 {
        font-size: 14px;
    }
}

.clever-description .all-instructors .single-instructor .instructor-info span {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.clever-description .clever-faqs {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.clever-description .clever-faqs h4 {
    margin-bottom: 25px;
    display: block;
}

@media only screen and (max-width: 767px) {
    .clever-description .clever-faqs {
        padding: 30px;
    }
}

.clever-curriculum {
    position: relative;
    z-index: 1;
}

.clever-curriculum .about-curriculum {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.clever-curriculum .about-curriculum h4 {
    margin-bottom: 20px;
    display: block;
}

.clever-curriculum .about-curriculum p {
    font-size: 16px;
    line-height: 1.9;
}

.clever-curriculum .about-curriculum p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .clever-curriculum .about-curriculum {
        padding: 30px;
    }
}

.clever-curriculum .curriculum-level {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.clever-curriculum .curriculum-level h4 {
    margin-bottom: 20px;
    display: block;
}

.clever-curriculum .curriculum-level h5 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.clever-curriculum .curriculum-level .curriculum-list li {
    display: block;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* color: rgba(0, 0, 0, 0.5); */
}

.clever-curriculum .curriculum-level .curriculum-list li:last-child {
    margin-bottom: 0;
}

.clever-curriculum .curriculum-level .curriculum-list li i {
    color: #000;
    margin-right: 5px;
    display: inline-block;
}

.clever-curriculum .curriculum-level .curriculum-list li ul {
    display: block;
    margin-top: 10px;
    padding-left: 25px;
}

.clever-curriculum .curriculum-level .curriculum-list li ul li {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}

.clever-curriculum .curriculum-level .curriculum-list li ul li span span {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .clever-curriculum .curriculum-level {
        padding: 30px;
    }
}

.clever-review {
    position: relative;
    z-index: 1;
}

.clever-review .about-review {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.clever-review .about-review h4 {
    margin-bottom: 20px;
    display: block;
}

.clever-review .about-review p {
    font-size: 16px;
    line-height: 1.9;
}

.clever-review .about-review p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .clever-review .about-review {
        padding: 30px;
    }
}

.clever-review .clever-ratings {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .clever-review .clever-ratings {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.clever-review .clever-ratings .total-ratings {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 235px;
    flex: 0 0 235px;
    min-width: 235px;
    width: 235px;
    border-right: 1px solid #ebebeb;
    height: 250px;
}

@media only screen and (max-width: 767px) {
    .clever-review .clever-ratings .total-ratings {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ebebeb;
    }
}

.clever-review .clever-ratings .total-ratings h2 {
    font-size: 60px;
    margin-bottom: 5px;
}

.clever-review .clever-ratings .total-ratings .ratings-- {
    margin-bottom: 10px;
}

.clever-review .clever-ratings .total-ratings .ratings-- i {
    font-size: 18px;
    display: inline-block;
    padding: 0 5px;
    color: #e3d21b;
}

.clever-review .clever-ratings .total-ratings span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.clever-review .clever-ratings .rating-viewer {
    padding: 50px 40px 35px;
}

@media only screen and (max-width: 767px) {
    .clever-review .clever-ratings .rating-viewer {
        padding: 40px 30px 25px;
    }
}

.clever-review .clever-ratings .rating-viewer span {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-review .clever-ratings .rating-viewer span {
        padding-right: 5px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 767px) {
    .clever-review .clever-ratings .rating-viewer span {
        padding-right: 5px;
        font-size: 11px;
    }
}

.clever-review .clever-ratings .rating-viewer .progress {
    width: 300px;
    margin-right: 15px;
    height: 10px;
    border-radius: 0;
    background-color: #f1f1f1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .clever-review .clever-ratings .rating-viewer .progress {
        width: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .clever-review .clever-ratings .rating-viewer .progress {
        width: 140px;
    }
}

@media only screen and (max-width: 767px) {
    .clever-review .clever-ratings .rating-viewer .progress {
        width: 140px;
    }
}

.clever-review .clever-ratings .rating-viewer .progress .progress-bar {
    background-color: #b3b3b3;
}

.clever-review .single-review {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .clever-review .single-review {
        padding: 30px;
    }
}

.clever-review .single-review p {
    margin-bottom: 0;
}

.clever-review .single-review .review-admin .thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
}

.clever-review .single-review .review-admin .text {
    padding-left: 15px;
}

.clever-review .single-review .review-admin .text h6 {
    font-size: 14px;
    margin-bottom: 0px;
}

.clever-review .single-review .review-admin .text span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.clever-review .single-review .ratings i {
    font-size: 14px;
    display: inline-block;
    padding: 0 3px;
    color: #e3d21b;
}

.clever-members {
    position: relative;
    z-index: 1;
}

.clever-members .about-members {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .clever-members .about-members {
        padding: 30px;
    }
}

.clever-members .about-members h4 {
    margin-bottom: 20px;
    display: block;
}

.clever-members .about-members p {
    font-size: 16px;
    line-height: 1.9;
}

.clever-members .about-members p:last-child {
    margin-bottom: 0;
}

.clever-members .all-instructors {
    padding: 40px 40px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .clever-members .all-instructors {
        padding: 30px 30px 0;
    }
}

.clever-members .all-instructors h4 {
    margin-bottom: 25px;
    display: block;
}

.clever-members .all-instructors .single-instructor {
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
    border-radius: 6px;
}

.clever-members .all-instructors .single-instructor .instructor-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    max-width: 80px;
    height: 80px;
}

.clever-members .all-instructors .single-instructor .instructor-info {
    padding-left: 25px;
}

.clever-members .all-instructors .single-instructor .instructor-info h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .clever-members .all-instructors .single-instructor .instructor-info h5 {
        font-size: 14px;
    }
}

.clever-members .all-instructors .single-instructor .instructor-info span {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.instructors-video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 400px;
    background-attachment: fixed !important;
}

.instructors-video::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    z-index: -1;
}

.instructors-video h2 {
    font-size: 100px;
    color: #3762f0;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .instructors-video h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .instructors-video h2 {
        font-size: 42px;
    }
}

@media only screen and (max-width: 767px) {
    .instructors-video h2 {
        font-size: 24px;
    }
}

.instructors-video .video-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 6px;
    text-align: center;
}

.instructors-video .video-btn i {
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
}

.instructors-video .video-btn:hover {
    background-color: #fff;
}

.instructors-video .video-btn:hover i {
    color: #3762f0;
}

.single-instructor {
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
    border-radius: 6px;
}

.single-instructor .instructor-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    max-width: 80px;
    height: 80px;
}

.single-instructor .instructor-info {
    padding-left: 25px;
}

.single-instructor .instructor-info h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .single-instructor .instructor-info h5 {
        font-size: 14px;
    }
}

.single-instructor .instructor-info span {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

.sidebar-widget {
    position: relative;
    z-index: 1;
    padding: 35px 30px;
    border: 1px solid #ebebeb;
    border-bottom: none;
}

.sidebar-widget:last-child {
    border-bottom: 1px solid #ebebeb;
}

.sidebar-widget h4 {
    margin-bottom: 20px;
    font-size: 24px;
    display: block;
}

.sidebar-widget .features-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sidebar-widget .features-list li h6 {
    color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
    .sidebar-widget .features-list li h6 {
        font-size: 14px;
    }
}

.sidebar-widget .features-list li h6 i {
    margin-right: 10px;
}

.sidebar-widget .single--courses {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.sidebar-widget .single--courses:last-child {
    margin-bottom: 0;
}

.sidebar-widget .single--courses .thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    max-width: 80px;
    height: 50px;
    border-radius: 6px;
}

.sidebar-widget .single--courses .thumb img {
    border-radius: 6px;
}

.sidebar-widget .single--courses .content {
    padding-left: 20px;
}

.sidebar-widget .single--courses .content h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 767px) {
    .sidebar-widget .single--courses .content h5 {
        font-size: 14px;
    }
}

.sidebar-widget .single--courses .content h6 {
    font-size: 12px;
    color: #e3d21b;
    margin-bottom: 0;
}

.single-accordion.panel {
    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 15px;
}

.single-accordion:last-of-type {
    margin-bottom: 0;
}

.single-accordion h6 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.single-accordion h6 a {
    border-radius: 6px;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    margin: 0;
    padding: 15px 60px 15px 30px;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}

.single-accordion h6 a span {
    font-size: 10px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 17px;
}

.single-accordion h6 a span.accor-open {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.single-accordion h6 a.collapsed {
    background-color: #f7f7f7;
    color: #5a5a5a;
}

.single-accordion h6 a.collapsed span.accor-close {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.single-accordion h6 a.collapsed span.accor-open {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.single-accordion .accordion-content {
    border-top: 0 solid transparent;
    box-shadow: none;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.single-accordion .accordion-content p {
    padding: 15px 30px;
    margin-bottom: 0;
}

/* :: 8.0 Upcoming Events */
.single-upcoming-events {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.single-upcoming-events .events-thumb {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
    position: relative;
    z-index: 1;
}

.single-upcoming-events .events-thumb::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.31);
    content: '';
    z-index: 2;
}

.single-upcoming-events .events-thumb img {
    width: 100%;
}

.single-upcoming-events .events-thumb .event-title {
    position: absolute;
    top: 50%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-bottom: 0;
    z-index: 10;
}

.single-upcoming-events .events-thumb .event-date {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 7%;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    z-index: 10;
}

.single-upcoming-events .date-fee {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 0 0 6px 6px;
}

.single-upcoming-events .date-fee .date p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    height: 100%;
    line-height: 40px;
    margin-bottom: 0;
    padding: 0 30px;
}

.single-upcoming-events .date-fee .events-fee a {
    display: inline-block;
    width: 70px;
    height: 40px;
    border-radius: 0 0 6px 0;
    background-color: #e3d21b;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.75px;
}

.single-upcoming-events .date-fee .events-fee a.free {
    background-color: #3762f0;
}

/* :: 9.0 Register Now */
.register-now {
    position: relative;
    z-index: 1;
    background-repeat: repeat;
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 767px) {
    .register-now {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.register-now::after {
    background-color: rgba(214, 223, 251, 0.7);
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
}

.register-now .register-contact-form {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    min-width: 45%;
    width: 45%;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .register-now .register-contact-form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
        padding: 15px;
    }
}

.register-now .register-contact-form .forms h4 {
    margin-bottom: 40px;
}

.register-now .register-contact-form .forms .form-control {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    height: 40px;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.register-now .register-now-countdown {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    min-width: 45%;
    width: 45%;
}

@media only screen and (max-width: 767px) {
    .register-now .register-now-countdown {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
    }
}

.register-now .register-now-countdown h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.register-now .register-now-countdown p {
    margin-bottom: 0;
}

.register-now .register-now-countdown .register-countdown {
    display: block;
    margin-top: 50px;
}

.register-now .register-now-countdown .events-cd div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 110px;
    flex: 0 0 110px;
    min-width: 110px;
    width: 110px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin-right: 12px;
    font-size: 36px;
    font-weight: 700;
    color: #3762f0;
}

.register-now .register-now-countdown .events-cd div span {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 700;
    display: block;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .register-now .register-now-countdown .events-cd div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        min-width: 80px;
        width: 80px;
        font-size: 24px;
    }

    .register-now .register-now-countdown .events-cd div span {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .register-now .register-now-countdown .events-cd div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        min-width: 60px;
        width: 60px;
        font-size: 18px;
    }

    .register-now .register-now-countdown .events-cd div span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .register-now .register-now-countdown .events-cd div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        min-width: 60px;
        width: 60px;
        font-size: 18px;
    }

    .register-now .register-now-countdown .events-cd div span {
        font-size: 12px;
    }
}

/* :: 10.0 Best Tutors Area */
.single-tutors-slides {
    position: relative;
    z-index: 1;
}

.single-tutors-slides .tutor-thumbnail {
    width: 165px;
    height: 165px;
    background-color: #000;
    border-radius: 6px;
    margin: 0 auto 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.single-tutors-slides .tutor-thumbnail img {
    border-radius: 6px;
    width: 100%;
}

.single-tutors-slides .tutor-information {
    display: none;
    position: relative;
    z-index: 1;
    padding: 20px 30px;
    background-color: #f7f7f7;
    border-radius: 6px;
}

.single-tutors-slides .tutor-information::after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #f7f7f7;
    content: '';
    top: -14px;
    left: 49%;
}

.single-tutors-slides .tutor-information h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.single-tutors-slides .tutor-information span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    display: block;
}

.single-tutors-slides .tutor-information p {
    margin-bottom: 30px;
}

.single-tutors-slides .tutor-information .social-info a {
    display: inline-block;
    padding: 0 10px;
}

.single-tutors-slides .tutor-information .social-info a:hover,
.single-tutors-slides .tutor-information .social-info a:focus {
    color: #2c56df;
}

.center .single-tutors-slides .tutor-information {
    display: block;
}

.tutors-slide .owl-prev,
.tutors-slide .owl-next {
    position: absolute;
    width: 40px;
    top: 62.5px;
    background-color: transparent;
    height: 40px;
    text-align: center;
    color: #cccccc;
    font-size: 30px;
    line-height: 36px;
    border-radius: 6px;
    left: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.tutors-slide .owl-prev:hover,
.tutors-slide .owl-next:hover {
    background-color: #2c56df;
    color: #ffffff;
}

.tutors-slide .owl-next {
    left: auto;
    right: 0;
}

/* :: 11.0 Blog Area */
.blog-page {
    padding-left: 7%;
    padding-right: 7%;
}

.single-blog-area {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.single-blog-area img {
    min-height: 150px;
    width: 100%;
    /* height: auto; */

    /* min-width: 379px; */
    /* min-height: 213px; */
    border-radius: 6px 6px 0 0;
}

.single-blog-area .blog-content {
    padding: 25px;
}

.single-blog-area .blog-content .blog-headline {
    display: block;
}

.single-blog-area .blog-content .blog-headline h4 {
    margin-bottom: 5px;
    margin-left: -1px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-blog-area .blog-content .blog-headline h4:hover,
.single-blog-area .blog-content .blog-headline h4:focus {
    color: #2c56df;
}

.single-blog-area .blog-content .meta {
    margin-bottom: 15px;
}

.single-blog-area .blog-content .meta span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 5px;
    margin-right: 10px;
}

.single-blog-area .blog-content .meta a {
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .single-blog-area .blog-content .meta a {
        font-size: 12px;
    }
}

.single-blog-area .blog-content .meta a:hover {
    color: #000;
}

.single-blog-area .blog-content p {
    margin-bottom: 0;
}

.blog-catagories {
    position: relative;
    z-index: 1;
}

.blog-catagories .single-catagories {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 165px;
    flex: 0 0 165px;
    width: 165px;
    max-width: 165px;
    height: 100px;
    text-align: center;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.blog-catagories .single-catagories::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    content: '';
}

.blog-catagories .single-catagories h6 {
    font-size: 14px;
    margin-bottom: 0;
    color: #3762f0;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    line-height: 1.9;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.blog-catagories .single-catagories h6:hover,
.blog-catagories .single-catagories h6:focus {
    color: #1b1b1b;
}

.blog-details-text {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 45px 40px;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .blog-details-text {
        padding: 35px 30px;
    }
}

.blog-details-text p {
    font-size: 16px;
    line-height: 1.9;
}

.blog-details-text h5 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.9;
}

.blog-details-text .post-tags {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.blog-details-text .post-tags ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blog-details-text .post-tags ul li a {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #ebebeb;
    line-height: 23px;
    height: 25px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 6px;
    margin-right: 10px;
}

.blog-details-text .post-tags ul li a:hover,
.blog-details-text .post-tags ul li a:focus {
    border: 1px solid #3762f0;
    background-color: #3762f0;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .blog-details-text .post-tags ul li a {
        padding: 0 5px;
    }
}

.related-posts {
    padding-left: 7%;
    padding-right: 7%;
}

.post-a-comments {
    position: relative;
    z-index: 1;
}

.post-a-comments h4 {
    text-align: center;
    margin-bottom: 25px;
    display: block;
    font-size: 24px;
}

.post-a-comments form {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 35px 50px;
    border-radius: 6px;
}

.post-a-comments form .form-control {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    height: 40px;
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.post-a-comments form textarea,
.post-a-comments form textarea.form-control {
    width: 100%;
    height: 130px;
}

.comments-area {
    position: relative;
    z-index: 1;
}

.comments-area h4 {
    text-align: center;
    margin-bottom: 25px;
    display: block;
    font-size: 24px;
}

.comments-area .comments-list {
    border-radius: 6px;
}

.comments-area .comments-list li {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin-bottom: 30px;
}

.comments-area .comments-list li ol li {
    border-top: 1px solid #ebebeb;
    padding-top: 30px;
    box-shadow: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.comments-area .comments-list .single-comment-wrap p {
    margin-bottom: 0;
}

.comments-area .comments-list .single-comment-wrap .comment-admin .thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    max-width: 40px;
    width: 40px;
}

.comments-area .comments-list .single-comment-wrap .comment-admin .thumb img {
    border-radius: 6px;
}

.comments-area .comments-list .single-comment-wrap .comment-admin .text {
    padding-left: 15px;
}

.comments-area .comments-list .single-comment-wrap .comment-admin .text h6 {
    font-size: 14px;
    margin-bottom: 0px;
}

.comments-area .comments-list .single-comment-wrap .comment-admin .text span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.comments-area .comments-list .single-comment-wrap .reply a {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3762f0;
}

/* :: 12.0 Breadcumb Area */
.breadcumb-area {
    position: relative;
    z-index: 1;
}

.breadcumb-area .breadcrumb {
    padding: 11px 2rem;
    margin-bottom: 0;
    background-color: #f7f7f7;
    border-radius: 0;
    height: 40px;
}

@media only screen and (max-width: 767px) {
    .breadcumb-area .breadcrumb {
        height: auto;
    }
}

.breadcumb-area .breadcrumb .breadcrumb-item {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 600;
}

.breadcumb-area .breadcrumb .breadcrumb-item a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 600;
}

.breadcumb-area .breadcrumb .breadcrumb-item a:hover,
.breadcumb-area .breadcrumb .breadcrumb-item a:focus {
    color: #000;
}

.clever-catagory {
    width: 100%;
    height: 240px;
    position: relative;
    z-index: 2;
}

.clever-catagory::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(215, 224, 252, 0.9);
    z-index: -1;
}

.clever-catagory h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: #3762f0;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .clever-catagory h3 {
        font-size: 24px;
    }
}

.clever-catagory.blog-details::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.clever-catagory.blog-details h3 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    display: block;
}

@media only screen and (max-width: 767px) {
    .clever-catagory.blog-details h3 {
        font-size: 24px;
    }
}

.clever-catagory.blog-details .meta {
    margin-bottom: 15px;
}

.clever-catagory.blog-details .meta span {
    color: #ffffff;
    font-size: 5px;
    margin-right: 10px;
    font-weight: 600;
}

.clever-catagory.blog-details .meta a {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .clever-catagory.blog-details .meta a {
        font-size: 14px;
    }
}

.clever-catagory.blog-details .meta a:hover {
    color: #000;
}

/* :: 13.0 Contact Area */
.contact--info {
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    padding: 35px 30px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .contact--info {
        padding: 20px;
    }
}

.contact--info h4 {
    margin-bottom: 20px;
    font-size: 24px;
    display: block;
}

.contact--info .contact-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.contact--info .contact-list li h6 {
    color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
    .contact--info .contact-list li h6 {
        font-size: 12px;
    }
}

.contact--info .contact-list li h6 i {
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .contact--info .contact-list li h6 i {
        margin-right: 5px;
    }
}

.contact-form {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
    padding: 35px 50px;
    border-radius: 6px;
    margin-top: -70px;
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-form {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .contact-form {
        margin-bottom: 50px;
        padding: 30px;
    }
}

.contact-form h4 {
    margin-bottom: 25px;
    display: block;
    font-size: 24px;
}

.contact-form form {
    position: relative;
    z-index: 1;
}

.contact-form form .form-control {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    height: 40px;
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.contact-form form textarea,
.contact-form form textarea.form-control {
    width: 100%;
    height: 130px;
}

#googleMap {
    width: 100%;
    height: 400px;
}

/* :: 14.0 Page Content */
.page-content {
    position: relative;
    z-index: 1;
    padding: 40px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 767px) {
    .page-content {
        padding: 30px;
    }
}

.page-content h4 {
    margin-bottom: 15px;
}

.page-content p {
    font-size: 16px;
    line-height: 2;
}

.page-content p:last-of-type {
    margin-bottom: 0;
}

/* :: 15.0 Footer Area */
.top-footer-area {
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid #4c4c4c;
}

.top-footer-area .footer-logo {
    display: block;
    margin-bottom: 15px;
}

.top-footer-area p {
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    font-family: "Open Sans", sans-serif;
}

.top-footer-area p a {
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.top-footer-area p a:hover,
.top-footer-area p a:focus {
    color: #ffffff;
}

.bottom-footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #1f1f1f;
}

@media only screen and (max-width: 767px) {
    .bottom-footer-area {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: auto;
    }
}

.bottom-footer-area .contact-info {
    position: relative;
    z-index: 1;
}

.bottom-footer-area .contact-info a {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    border-right: 1px solid #4c4c4c;
}

.bottom-footer-area .contact-info a span {
    text-transform: uppercase;
}

.bottom-footer-area .contact-info a:hover,
.bottom-footer-area .contact-info a:focus {
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .bottom-footer-area .contact-info a {
        padding: 0 10px;
        font-size: 11px;
    }

    .bottom-footer-area .contact-info a:last-child {
        border-right: none;
    }
}

@media only screen and (max-width: 767px) {
    .bottom-footer-area .contact-info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.bottom-footer-area .follow-us {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .bottom-footer-area .follow-us {
        margin-left: auto;
    }
}

.bottom-footer-area .follow-us span {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    text-transform: uppercase;
}

.bottom-footer-area .follow-us a {
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    border-left: 1px solid #4c4c4c;
}

.bottom-footer-area .follow-us a span {
    text-transform: uppercase;
}

.bottom-footer-area .follow-us a:hover,
.bottom-footer-area .follow-us a:focus {
    color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
